<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/header-and-footer.css">
<link rel="stylesheet" href="/assets/css/syntax-highlight-github.css">
{% if page.url == "/" -%}
  <link rel="stylesheet" href="/assets/css/home.css">
{%- elsif page.isPost == true -%}
  <link rel="stylesheet" href="/assets/css/post.css">
{%- elsif collection.docType == "tutorial" -%}
  <link rel="stylesheet" href="/assets/css/tutorial.css">
{%- elsif collection.docType == "manual" -%}
  <link rel="stylesheet" href="/assets/css/manual-writing-cases.css">
{%- elsif page.layout == "service" -%}
  <link rel="stylesheet" href="/assets/css/service.css">
{%- elsif page.name contains "index" -%}
  <link rel="stylesheet" href="/assets/css/sub-index.css">
{%- endif %}
