---
layout: page-container
title: 技术写作是一种技能
---

<!-- 文章索引 -->
<div class="postList">
  {% for article in site.technical-writing %}
     <div class="articlePreview">
       <a href="{{ article.url }}">
         <h1>{{ article.title }}</h1>
         {{ article.excerpt | markdownify }}
       </a>
     </div>
  {% endfor %}
</div>


<!-- 侧栏 -->
<div class="aside">
  <div>
    <h1>推荐阅读</h1>
    {% for article in site.technical-writing %}
    <p><a href="{{ article.url }}">{{ article.title }}</a></p>
    {% endfor %}
  </div>
</div>