<!-- 网页页脚 -->
<div class="bottom">
  <div class="web_info">
    <h1>单线条文档工作室</h1>
    <p>专业贴心的技术文档服务合作伙伴</p>
    <p class="email">Email: wongyah@126.com</p>
  </div>
  <div class="wechatQR">
    <p id="QR">
      <span id="Icon"><img src="/assets/images/weChatIcon@2x.png" alt=""></span>
      <span id="QR"><img src="/assets/images/QR_WeChatPublicAccounts.jpg" alt="微信公众号二维码" width="80px" height="80px" style="vertical-align: middle;"></span>
      <span id="wechat">微信公众号</span>
    </p>
  </div>
</div>

