    <!-- 页脚之上 -->
    <div class="c-container" id="footerAbove">
      <div class="main above-footer">
        <p>技术写作是一种技能，</p>
        <p>代码化管理是一种技术。</p>
        <p>如果您的团队里还没有这一专职角色，</p>
        <p>这儿有外援 在恭候！</p>
      </div>
    </div>
    
    <!-- 网页页脚 -->
    
    <div class="footerContainer" id="footer">
      <div class="main">
        <ul class="footer">
            <li class="brand">
              <h1>单线条文档工作室</h1>
              <p>简简单单说技术</p>
              <p class="copyright-null"><br></p> <!--插入空段落作为间距，简化CSS样式代码 -->
              <p lang="en" id="copyright-min875">&copy; 2021 docSimpo</p>
            </li>
            <li class="contact">
              <h1>王烨</h1>
              <p>邮箱: <span lang="en">wongyah@126.com</span> </p>
              <p>微信: <span lang="en">wongyah</span> </p>
              <p>手机: <span lang="en">186 1111 7992</span> </p>
            </li>
            <li class="media">
              <h1>
                <span id="icon-linkedin">
                  <a href="https://www.linkedin.com/in/docsimpo"><img src="../assets/images/mediaIcon/linkedin@2x.png" alt="" class="icon-21px"></a>
                </span>
                <span class="qrcode" id="qrcode-linkedin"><img src="../assets/images/mediaIcon/qrcode-linkedin.jpg" alt="单线条文档" class="icon-80px"></span>
              </h1>
              <h1>
                <span id="icon-wechat">
                  <a href=""><img src="../assets/images/mediaIcon/wechat@4x.png" alt="" class="icon-21px"></a>
                </span>
                <span class="qrcode" id="qrcode-wechat"><img src="../assets/images/mediaIcon/qrcode_wechat.jpg" alt="单线条文档" class="icon-80px"></span>
              </h1>
              <p lang="en" id="copyright-max875">&copy; 2021 docSimpo</p>
            </li>
          </ul>
      </div>
    </div>  

