<!-- Logo和菜单栏 -->

<div class="navbar navbar-expand-md fixed-top py-0 navbar-dark bg-header" role="navigation">
  <div class="container-fluid">
    <div class="container">
      
      {%- assign home = site.data.webinfo.header-menu | find: "name", "首页" -%}
      <a class="navbar-brand logo-brand py-2" href="{{ home.link }}">
        <span class="logo-size d-inline-block">{% include svg/logo/site-logo-white.svg %}</span>
        <span class="d-inline-block h-100">技术传播百态说</span>
      </a>

      <button class="navbar-toggler collapsed p-0 header-nav-icon" type="checkbox" data-toggle="collapse" data-target="#header-nav" aria-controls="header-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-end" id="header-nav">
        <div class="navbar-nav mb-5 my-md-auto">
          {%- for item in site.data.webinfo.header-menu -%}
            {%- assign itemClass = 'class="nav-link"' -%}
            {%- assign currentClass = 'class="nav-link active" aria-current="page"' -%}
            <a {% if page.url == item.link or page.url contains item.link and item.link !="/" -%} {{ currentClass }} {%- else -%} {{ itemClass }} {%- endif -%}
                href="{{ item.link }}">{{ item.name }}</a>
          {%- endfor -%}
        </div>
      </div>

    </div>
  </div>
</div>


