//! 文章索引页
.articlePreview{
  @include margin(2rem null);
  @include padding(2em 1em);
  border-bottom: 0.2em dotted rgba($background-color-head, 0.3);

  h1{
    font-size: $font-size-headingOne;
    color: $text-color-title;
    letter-spacing: $letter-spacing-heading;
    margin-bottom: 0.5em;
  }

  p{
    color: lighten($color: $text-color-body, $amount: 30%);
    line-height: $line-height-content;
    text-align: justify;
    margin-top: 1rem;
  }

}


//! 文章

// 标题、作者、更新时间

.updatedMeta{
  @include padding(4rem null 2rem);
  border-bottom: 0.2em dotted rgba($background-color-head, 0.3);

  h1{
    font-size: $font-size-title;
    color: $text-color-title;
    letter-spacing: $letter-spacing-heading;
    margin-bottom: 1rem;
  }

  p{
    font-size: $font-size-footer;
    color: lighten($color: $text-color-body, $amount: 30%);
  }

}

// 正文

.postContent{
  @include padding(2rem null);

  p{
    @include margin(2em null);
    line-height: $line-height-content;
    text-align: justify;
    img{
      max-height: 250px;
    }
  }

  h1{
    font-size: $font-size-headingOne;
    letter-spacing: $letter-spacing-heading;
    @include margin(3em null 1em);
    &:after{
      content: '▼';
      color: $text-color-emphasized;
    }
  }

  ol, ul {
    padding-left: 3em;
    margin-top: -1.5em;
  }

  :target::before{
    content: "";
    display: block;
    height: $height-header;
    margin-top: -$height-header;
  }
  
}


//! 右侧栏

.aside {
  margin-top: 10rem;

  div {
    @include margin(4rem null);
    @include padding(0.5em 1em);
    border: 0.5em solid rgba($text-color-emphasized, 0.5);
    border-radius: 0.5em;
    opacity: 0.7;  // 透明度小于 1 的元素会遮挡其他元素。必须为页眉设置 z-index 值。
    font-size: $font-size-footer;

    h1 {
      font-size: $font-size-header;
      color: rgba($text-color-body, 0.8);
      @include margin(0.7em null);
    }
  
    p {
      @include margin(0.7em null);
    }
  
    a {
      color: $background-color-head;
    }

    ol, ul{
      padding-left: 2em;
      li{
        @include margin(0.7em null);
      }
    }

    &:hover{
      opacity: 1;
      border-color: rgba($text-color-emphasized, 0.7);
    }
  }

}
