//! 文章索引页
.articlePreview{
  @include margin(2rem null);
  @include padding(2em 1em);
  border-bottom: 0.2em dotted rgba($background-color-head, 0.3);


  h1{
    font-size: $font-size-headingOne;
    color: $text-color-title;
    letter-spacing: $letter-spacing-heading;
    margin-bottom: 0.5em;
  }

  p{
    color: lighten($color: $text-color-body, $amount: 30%);
    line-height: $line-height-content;
    text-align: justify;
    margin-top: 1rem;
  }

}


//! 文章

// 文章名称、作者和发布时间

.articleNameAndMeta{
  @include padding(4rem null 2rem);
  border-bottom: 0.2em dotted rgba($background-color-head, 0.3);

  h1{
    font-size: $font-size-title;
    color: $text-color-title;
    letter-spacing: $letter-spacing-heading;
  }

  p{
    font-size: $font-size-footer;
    color: lighten($color: $text-color-body, $amount: 30%);
    margin-top: 1rem;
  }

}

.articleBody{
  @include padding(2rem null);
  p{
    @include margin(2em null);
    line-height: $line-height-content;
    text-align: justify;
  }

  h1{
    font-size: $font-size-headingOne;
    letter-spacing: $letter-spacing-heading;
    @include margin(3em null 1em);
    &:after{
      content: '▼';
      color: $text-color-emphasized;
    }
  }
}
