//! 网页基本设置

//! 所有元素：
// 外边距、内边距归零
// 边框尺寸包含内边距
// 字号默认: 100%，16px
// 字体默认: inherit
// 字间距: 0.2em
// 行高: 1.5em
// 文本对齐方式：左对齐

html *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 100%;
  font-family: inherit;
  color: inherit;
  letter-spacing: $letter-spacing-normal;
  line-height: $line-height-default;
  text-align: left;
  
}
  
//! 全网页
// 背景颜色：白色
// 最少高度：全屏。内容很少时 页脚依然保持在底部；内容超过一屏时，页脚随内容移动。

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $background-color-page;
  font-family: $font-family-body;
  color: $text-color-body;
}


.content{
  flex-grow: 2;
}
  
  
