
//! 一般元素样式

*:lang(en){
  letter-spacing: $letter-spacing-default;
}

*:lang(zh-cn){
  letter-spacing: $letter-spacing-cn;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h6 {
  line-height: $line-height-high;
}

// 所有链接默认设置：无下划线
a{
  color: $background-color-head;
  text-decoration: none; 
  letter-spacing: inherit;
  font-size: inherit;
}

%general-code-style {
  padding: .1em .25em;
  border-radius: .1em;
  font-size: $font-size-small;
  word-wrap: break-word;
}

code{
  @extend %general-code-style;
  background-color: $background-color-inline-code;
}

a, pre, td, dt{
  code {background-color: transparent; }
}

dt > code{
  font-size: $font-size-body;
}



//! Mermaid

.mermaid{
  font-size: modular-scale(1, $font-size-body, 0.9);
  text-align: center;
}

//! toast格式

.toast.mathShowingError {
  position: fixed;
  bottom: 0;
  border: 2px solid $background-color-toast-header;
  z-index: 199;
  .toast-header {
    background-color: $background-color-toast-header;
  }
}