  
//! 页脚之上
.above-footer{
  margin-bottom: 1em;
  p{
    color: lighten($text-color-body, 40%);
    line-height: $line-height-content;
  }
}


//! 网页页脚

// 页脚文本格式

.docsimpo-text-lightblue-1 {color: lighten($background-color-head, 15%);}

.docsimpo-text-lightblue-2 {color: lighten($background-color-head, 30%);}

#footer {
  h4 { @extend .docsimpo-text-lightblue-2 }
  p { @extend .docsimpo-text-lightblue-1 }
}
 

//! 微信二维码

.media {position: relative;}

#icon-linkedin, #icon-wechat {opacity: 0.7;}

#icon-linkedin:hover, #icon-wechat:hover {opacity: 1;}

#icon-linkedin:hover {border-bottom: 2px solid #fff;}

// 二维码外观
.qr{
  $bgcolor: $background-color-head;
  display: inline-block; /*! 删掉这一行，二维的码的边框就聚拢到中心了。可考虑设置在img上 */
  padding: 10px 10px; /* 二维码的边框宽度 */
  background-image: radial-gradient(lighten($bgcolor, 10%), darken($bgcolor, 10%));
  border-radius: 5px;
}

// 将二维码定位在页脚上方
#wechat-qr {
  position: absolute;
  top: -6rem;
  left: 9rem;
}

#wechat-qr {
  display: none;
  height: 0;
}


//! 点击、鼠标滑过时的动作



#wechat-qr-checkbox {
  display: none;

  @media screen and (max-width: 767px) {
    &:checked ~ #wechat-qr {
      display: inline-block;
    }
  }

}



// #icon-wechat:clicked ~ #qrcode-wechat {display: inline-block;}

@media screen and (min-width: 768px) {
  #icon-wechat:hover ~ #wechat-qr {display: inline-block;}

}


// #icon-linkedin:hover {
//   padding-bottom: 0.3em;  
//   border-bottom: 2pt solid rgba($text-color-header, 0.6);
  
//   & ~ #qrcode-linkedin{
//     display: inline-block;  
//   }
// }


/* copyright */
#copyright-max875{
  display: none;
}

