//! 导航菜单

// 设置背景色

%docsimpo-bg-blue{background-color: $background-color-head;}

%docsimpo-bg-trnsp-blue {
  $bgcolor: $background-color-head;
  background-color: rgba($bgcolor, 0.9);
}

%docsimpo-bg-gradient-blue {
  $bgcolor: $background-color-head;
  background-image: linear-gradient($bgcolor, lighten($bgcolor, 10%) 90%, $bgcolor);
}

%docsimpo-bg-gradient-blue-md {
  @media screen and (min-width: 768px) {
    $bgcolor: $background-color-head;
    background-image: linear-gradient($bgcolor, lighten($bgcolor, 10%) 90%, $bgcolor);
  }
}

.docsimpo-bg-blue {@extend %docsimpo-bg-blue}

.bg-header {
  @extend %docsimpo-bg-trnsp-blue;
  @extend %docsimpo-bg-gradient-blue-md;
}


//! Logo和名称

.logo-brand {
  font-size: $font-size-body;
  font-weight: bold;
}

.logo-size {
  @extend %icon-2em;
  @extend %icon-3em-md;
}


//! 导航图标

.header-nav-icon{
  display: block;
  height: 2em;
  width: 2em;
  border: none;     // 去掉图标的边框
  &:focus, &:active{
    outline: none;
  }
}


.navbar-toggler .icon-bar{
  display: block;
  width: 1.2em;
  height: 2px;
  background-color: #fff;
  margin: 0.4em;
}

.navbar-toggler .top-bar{
  margin-bottom: -2px;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  transition: transform 0.2s ease-in-out;
}

.navbar-toggler .bottom-bar{
  margin-top: -2px;
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  transition: transform 0.2s ease-in-out;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
  margin: 0.6em 0.4em;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
  margin: 0.6em 0.4em;
}


//! 菜单，手机屏折叠，电脑屏展开

#header-nav{
  font-size: $font-size-body;
  font-weight: bold;
}

#header-nav .navbar-nav .nav-link {
  margin-top: 1em;
  border-bottom: 1pt solid rgba($text-color-header, 0.5);
}

@media screen and (min-width: 768px) {
  #header-nav .navbar-nav .nav-link {
    margin-top: auto;
    border-bottom: none;
  }
}

//! 躲避页眉的遮挡
.header-dodge {
  padding-top: 3rem;
  @media screen and (min-width: 768px) {padding-top: 4rem;}
}  

  
  
  
