  /*! 网页页眉 */
  .headerContainer{
    $bgcolor: $background-color-head;
    background-image: linear-gradient($bgcolor, lighten($bgcolor, 10%) 90%, $bgcolor);
  }

  .header {
    @include flexLayout($v: center);
  }

  .navContainer {
    flex: 0 0 350px; /* 定义主导航栏的宽度，固定不变 */
    nav{
      @include flexLayout;
      a {
        display: inline-block;
        color: $text-color-header;
        font-weight: bold;
        text-decoration: none; /* 去掉链接文本默认的下划线 */
        line-height: $line-height-header;
      }
    }  
  }

  
  
  
