  //! 正文宽度

  .main{
    width: 90%;
  }

  //! Slogan 宣传语

  .slogan{
    height: $height-slogan-square;
    @include flexLayout($h: center, $v: start);
    padding-top: 4rem;
    // @extend %mascot;
  }
  
  .sloganFont {
    font-size: 6vw;
  }
  
  .sloganText{
    margin-top: 1.5em;
  
    h1{
      text-align: center;
    }
    
    h2{
      @extend h1;
      margin-top: -0.2em;
      margin-bottom: 0.3em;
    }
    
    p{
      @extend h1;
      font-size: 2vw;
      color: $text-color-slogan-p;
      text-shadow: 0px 0px 2px #FFF;
      line-height: $line-height-content; /* 定义Slogan副语的段落间距 */
    }
    
  }  
  
span#cong{
  font-size: 1.5em;
  color: $text-color-emphasized;
  padding-right: 0.1em; /* 拉开高亮文字“好”与“用”的间距 */
}

  //! 服务范围
  
  .services{
    list-style-type: none; /* 去掉<ul>默认的项目符号 */
    margin: 5em 0 4em; /* 定义服务范围正文的上下外边距，即前后留白的高度 */

    & > :nth-child(2) {
      margin: 4em 0;
    }

    h1{
      display: inline-block;
      vertical-align: middle;
      .serviceIcon {
        @extend %icon-2em;
      }
    }
    
    /* 服务名称 */
    h2{
      @extend h1;
      font-size: $font-size-h5;
      line-height: $line-height-content;
    }  
    
    /* 服务描述 */
    p{
      margin-top: 0.5em; /* 定义服务名称与服务描述之间的间距 */
    }

  }


  
