  
//! Slogan 宣传语

// 宣传栏背景
.docsimpo-bg-gradient-slogan {
  $bghead: $background-color-head;
  $bgslogan: $background-color-slogan;
  background-image: linear-gradient($bgslogan 85%, $bghead);
}

// 宣传栏高度
.slogan-height {
  height: 90vw;
  @media screen and (min-width: 576px) {height: 540px;}
  @media screen and (min-width: 768px) {height: 540px;}
  @media screen and (min-width: 992px) {height: 604px;}
  @media screen and (min-width: 1200px) {height: 720px;}
}

// 宣传语字号
.font-size-slogan {
  font-size: 6vw;
  @media screen and (min-width: 576px) {font-size: 2.16rem;}
  @media screen and (min-width: 768px) {font-size: 2.16rem;}
  @media screen and (min-width: 992px) {font-size: 3rem;}
  @media screen and (min-width: 1200px) {font-size: 3.5rem;}
}

// 副语字号
.font-size-aux {
  font-size: 3vw;
  @media screen and (min-width: 533px) {font-size: 1rem;}
}

// 宣传语栏里的吉祥鹿
.mascot-in-slogan {
  background: {
    image: url(/assets/images/mascot/Afront.png);
    position: right bottom;
    repeat: no-repeat;
    size: 20% auto;
    clip: border-box;
  }
}


// 间距调整

.slogan-gap-top{
  margin-top: 10%;
  @media screen and (min-width: 992px) {margin-top: 4em;}
}
  
.slogan-line-gap {@include margin(-0.2em null 0.3em);}


// 文字效果（阴影、颜色等）

.slogan-font{
  color: darken($background-color-head, 5%);
  text-shadow: 0.032em 0.032em 0px darken($color: $background-color-head, $amount: 50%);
}

.slogan-aux-font {
  color: $text-color-slogan-p;
  text-shadow: 0px 0px 2px #FFF;
  line-height: $line-height-content; /* 定义Slogan副语的段落间距 */
}
  
span#cong{
  font-size: 1.5em;
  color: $text-color-emphasized;
  padding-right: 0.1em; /* 拉开高亮文字“好”与“用”的间距 */
}


//! 服务范围

.services {
  @include margin(3rem null 2rem);
  @media screen and (min-width: 992px) {@include margin(6.5rem null 5.5rem);}
}

.icon-service {@extend %icon-2em;}
@media screen and (min-width: 992px) {
  .icon-service {@include iconSize($size: 80px,)}
}

.card.content-link-service {
  text-align: center;
  border: none;

  .card-text{text-align: justify;}

  }

div.card-image-box{
  text-align: center;
  img.card-image{
    width: 240px;
    height: auto;
    max-width: 100%;
    border: 1px solid transparent;
  }
}


