//! 正文宽度及三分布局
@each $min-or-max, $screen-width, $precentage, $isPrecentage in $screen-widths {
  @include content-width($min-or-max, $screen-width, $precentage, $isPrecentage);
}

  
//! Slogan 宣传语

.slogan{
  @each $min-or-max, $screen-width in $screen-widths {     // slogan高度设定为宽度的一半
    @include sloganHeight($min-or-max, $screen-width);
  }
  @include flexLayout($h: start, $v: start);
  padding-top: 4rem; /* 定义鹿角的上边距 */
  @extend %mascot;
}

.sloganText{
  margin-top: 1em;
    h2{
      margin-top: -0.2em;
      margin-bottom: 0.3em; /* 定义与下方Slogan副语的间距(0.5em)，以及左侧缩进(3em)。 */
      span{
      font-size: 1.5em;
      color: $text-color-emphasized;
      padding-right: 0.1em; /* 拉开高亮文字“好”与“用”的间距 */
    }
  }
 
  p{
    color: $text-color-slogan-p;
    text-shadow: 0px 0px 2px #FFF;
    letter-spacing: $letter-spacing-extra;
    line-height: $line-height-content; /* 定义Slogan副语的段落间距 */
  }
}
  
  
  //! 服务范围
  
.services {
  @include distributedLayout($margin: 100px);  

  // 服务图标
  h1 {
    .serviceIcon{
      @extend .icon-80px;
    }
  }

  // 服务名称
  h2{
    font-size: $font-size-header;
    margin-top: 1em; /* 定义服务图标与服务名称之间的间距 */
  }  
  
  // 服务描述
  p{
    text-align:justify;
    margin-top: 0.5em; /* 定义服务名称与服务描述之间的间距 */
  }
}


