//! 正文宽度及三分布局
@each $min-or-max, $screen-width, $precentage, $isPrecentage in $screen-widths {
  @include content-width($min-or-max, $screen-width, $precentage, $isPrecentage);
}

  
//! Slogan 宣传语

.docsimpo-bg-gradient-slogan {
  $bghead: $background-color-head;
  $bgslogan: $background-color-slogan;
  background-image: linear-gradient($bgslogan 85%, $bghead);
}

#slogan {
  padding-top: 3rem;
  @media screen and (min-width: 768px) {padding-top: 4rem;}
}

.slogan-height {
  height: $height-slogan-square;
  @media screen and (min-width: 576px) {height: 540px;}
  @media screen and (min-width: 768px) {height: 720px;}
  @media screen and (min-width: 992px) {height: 100vh;}
}

.slogan{
  // @each $min-or-max, $screen-width in $screen-widths {
  //   @include sloganHeight($min-or-max, $screen-width);
  // }
  @extend %mascot;
}

.sloganText{
  margin-top: 1em;
    h2{
      margin-top: -0.2em;
      margin-bottom: 0.3em; /* 定义与下方Slogan副语的间距(0.5em)，以及左侧缩进(3em)。 */
    }
    
    p{
      color: $text-color-slogan-p;
      text-shadow: 0px 0px 2px #FFF;
      letter-spacing: $letter-spacing-extra;
      line-height: $line-height-content; /* 定义Slogan副语的段落间距 */
    }
  }
  
span#cong{
  font-size: 1.5em;
  color: $text-color-emphasized;
  padding-right: 0.1em; /* 拉开高亮文字“好”与“用”的间距 */
}


//! 服务范围

.services {@include margin(6.5rem null);}

.icon-service {
  @extend .icon-2em;
  line-height: 2em;
  display: inline-block;
}

@media screen and (min-width: 992px) {
  .icon-service {
    height: 80px;
    width: auto;
    vertical-align: middle;
  }
}



