
//! 正文

.topic-body {

  figure {
    margin: 2em 0;
  
    img, dl.callout {
      width: 100%;
      max-width: 15rem;
      display: block;
      margin: auto;
    }

    table.callout-table {
      margin: 0.5em auto 2em;
      width: 100%;
      max-width: 15rem;
      

      col.callout {
        text-align: left;
        width: 2em;
      }

      td {border: none;}

    }

    figcaption {
      margin-top: 0.5em;
      text-align: center;
      color: lighten($color: $text-color-body, $amount: 20%);
    }
  }

  blockquote.notice {
    margin-top: 2em;
    border-top: 2px solid lighten($color: $text-color-body, $amount: 20%);
    border-bottom: 2px solid lighten($color: $text-color-body, $amount: 20%);
    padding: 1em 0 1em 5em;
    background-image: url(/assets/images/post/safetyIcon/1-General-warning-J6520-PF.png);
    background-size: 4em;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 1em;
    &::before {
      content: "注意！";
      font-size: $font-size-h5;
      font-weight: bold;
      color: rgb(200, 0, 0);
    }
  }
  
}

.manual-case-tabs {
  *:not(button) {padding: 0;}
  .card-header {
    padding: 0;
    *:not(button) {margin: 0;}
  }

  button.btn-secondary.collapsed {
    background-color: lighten($color:#6c757d, $amount: 15%);
    border-color: lighten($color:#6c757d, $amount: 15%);
    &:hover {
      background-color: #6c757d;
      border-color: #6c757d;
    }
  }

  button.btn-secondary:not(.collapsed) {
    background-color: #007bff;
    border-color: #007bff;
    &:hover {
      background-color: #007bff;
      border-color: #007bff;
    }
  }

  button.btn-secondary {
    border-radius: 0.5em 0.5em 0 0;
  }

}

.manual-case .card-body {

  h5, h6, p {@include margin(0.5em null);}

  table {
    font-size: $font-size-small;
    caption {
      caption-side: top;
      font-weight: bold;
      @include margin(0.5em null 0.25em);
    }
  }
}

strong.term {
  color:  darken($color: $background-color-head, $amount: 10%) ;
  font-weight: bold;
}

