//! 浏览器兼容前缀

@mixin displayFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($value) {
  @include prefixer(flex, $value, ("webkit", "ms", "webkit-box"));
}

@mixin transform($value) {
  @include prefixer(transform, $value, ("webkit", "ms"));
}

//! 图标尺寸

@mixin iconSize($size, $width: auto) {
    height: $size;
    width: $width;
    vertical-align: middle;
}

$iconSize: 21px, 80px, 96px, 2em, 3em;

// %iconSize, %iconSize-md
@each $size, $width in $iconSize {

  %icon-#{$size} {@include iconSize($size, $width)}

  %icon-#{$size}-md {
    @media screen and (min-width: 768px) {@include iconSize($size, $width)}
  }

  %icon-#{$size}-lg {
    @media screen and (min-width: 992px) {@include iconSize($size, $width)}
  }
  
}

// .iconSize
@each $size, $width in $iconSize {
  .icon-#{$size} {
    @extend %icon-#{$size};
  }
}


