

//! 文章

// 标题、作者、更新时间

h4.post-title {
  color: $text-color-title;
  letter-spacing: $letter-spacing-base;
  margin-bottom: 1rem;
  @media screen and (min-width: 992px) {font-size: $font-size-h2;}
}

// 正文

.post-body {
  @include padding(2rem null null);
  @include margin(null null 3rem);
  border-top: 0.2em dotted rgba($background-color-head, 0.3);
  border-bottom: 0.2em dotted rgba($background-color-head, 0.3);

  :target::before{
    content: "";
    display: block;
    height: $height-header;
    margin-top: -$height-header;
  }

}

.post-body > h1 {
  font-size: $font-size-h5;
  @media screen and (min-width: 992px) {font-size: $font-size-h3;}

  letter-spacing: $letter-spacing-base;
  color: $text-color-emphasized;
  @include margin(3em null 1.5em);
}

.post-body > p {
  @include margin(2em null);
  line-height: $line-height-high;
  text-align: justify;
}

.post-body img:only-child {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
}

.post-body > ul, .post-body > ol {
  padding-left: 2em;
  @include margin(-1.5em null 2em);
}

.post-body > blockquote {
  font-size: $font-size-small;
  color: $text-color-slogan-p;
  background-color: rgba($background-color-head, 0.3);
  border-radius: 0.5em;
  @include padding(0.25em 1em);
  @include margin(2.25em null);

  * {
    @include margin(1em null);
  }

}


//! 右侧栏

.card.ad-aside-right {
  @include margin(4rem null);
  border: 0.5em solid rgba($text-color-emphasized, 0.5);
  border-radius: 0.5em;
  opacity: 0.7;  // 透明度小于 1 的元素会遮挡其他元素。必须为页眉设置 z-index 值。

  &:hover{
    opacity: 1;
    border-color: rgba($text-color-emphasized, 0.7);
  }

}

ol#post-toc {
  padding-left: 1em;
  font-size: 0.9rem;
  li{@include margin(0.5em null);}
}

ul.card-text {
  list-style-type: none;
  li{@include margin(0.5em null);}
}

