
//! 标题、作者、更新时间
h4.service-name {
  color: $text-color-title;
  letter-spacing: $letter-spacing-base;
  @include media-breakpoint-up(lg){font-size: $font-size-h2;}
}

//! 目录
ol#post-toc {
  counter-reset: heading1;
  margin-left: 1rem;
  font-size: 0.9rem;

  li{
    @include margin(0.5em null);
  }

  a{
    color: $text-color-body;
    &:hover{
      color: $background-color-head;
      text-decoration: underline;
    }
  }

  & > li{
    list-style-type: none;
    &::before{
      content: counter(heading1)"."" ";
      counter-increment: heading1;
    }
  }

  & > li > ol{
    counter-reset: heading2;
    margin-left: 1rem;

    & > li{
      list-style-type: none;
      &::before{
        content: counter(heading1)"."counter(heading2)" ";
        counter-increment: heading2;
      }
    }
    
  }


}


//! 正文

.post-body {
  @include padding(2rem null null);
  @include margin(null null 3rem);
  border-top: 0.2em dotted rgba($background-color-head, 0.3);
  border-bottom: 0.2em dotted rgba($background-color-head, 0.3);
  max-width: 100%;
  overflow-x: hidden;

  :target::before{
    content: "";
    display: block;
    height: $height-header;
    margin-top: -$height-header;
  }

}

.post-body{
  counter-reset: heading1;

  h1 {
    font-size: $font-size-h5;
    @include media-breakpoint-up(lg){font-size: $font-size-h3;}
    letter-spacing: $letter-spacing-base;
    @include margin(3em null 1.5em);
    counter-reset: heading2;
    &::before{
      content: counter(heading1) " ";
      counter-increment: heading1;
    }
  }
  
  h2 {
    font-size: $font-size-body;
    @include media-breakpoint-up(lg){font-size: $font-size-h5;}
    letter-spacing: $letter-spacing-base;
    @include margin(2em null 1em);
    &::before{
      content: counter(heading1) "." counter(heading2) " ";
      counter-increment: heading2;
    }

  }

} 

.post-body > p {
  @include margin(2em null);
  line-height: $line-height-high;
  text-align: justify;
}

.post-body img:only-child {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
}

.post-body figure {
  margin: 2em 0;

  img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: auto;
  }
  figcaption {
    margin-top: 0.5em;
    text-align: center;
    color: lighten($color: $text-color-body, $amount: 20%);
  }
}

.post-body > ul, .post-body > ol {
  padding-left: 2em;
  @include margin(-1.5em null 2em);
  p {margin: 0.5em 0;}
}

.post-body h6.table-caption {
  @include margin(2em null -1em);
  font-size: $font-size-small;
  &::before {
    content: "表：";
  }
}

.post-body > dl {
  @include margin(2em null);

  dt {
    @include margin(2em null 1em);
    border-left: 3pt solid lighten($color: $text-color-body, $amount: 50%) ;
    padding-left: 0.5em;
  }

  dd {
    @include margin(1em null);
  }
}


// 引用样式
.post-body > blockquote {
  font-size: $font-size-small;
  color: $text-color-slogan-p;
  background-color: rgba($background-color-head, 0.3);
  border-radius: 0.5em;
  @include padding(0.25em 1em);
  @include margin(2.25em null);

  * {
    @include margin(1em null);
  }

  mjx-container * {margin: 0;}

  h6.table-caption {
    font-size: $font-size-small;
    margin: 1em 0 -1.5em;
  }


  //! 七大写作原则中的样式
  blockquote.notice {
    margin-top: 2em;
    border-top: 2px solid lighten($color: $text-color-body, $amount: 20%);
    border-bottom: 2px solid lighten($color: $text-color-body, $amount: 20%);
    padding: 1em 0 0 5em;
    background-image: url(/assets/images/post/safetyIcon/1-General-warning-J6520-PF.png);
    background-size: 4em;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 1em;
    &::before {
      content: "注意！";
      font-size: $font-size-body;
      font-weight: bold;
      color: rgb(200, 0, 0);
    }
  }

  &.original, &.rewrited {
    border: 2px solid $text-color-body;
    background-color: $background-color-page;
    color: $text-color-body;

    ol {
      margin-left: 1.5em;
      ol {
        list-style-type: lower-alpha;
      }
    }
  }

  &.original::before {
    content: "原文";
    display: block;
    position: absolute;
    background-color: rgb(100, 0, 0);
    padding: 0.2em 0.5em;
    font-size: $font-size-body;
    color: $text-color-header;
    transform: translate(-1.5em, -1em) rotate(-10deg);
    transform-origin: 0% 100% 0px;
    border-radius: 0.3em;
    overflow: visible;
  }

  &.rewrited {
    margin-top: 3em;
  }

  &.rewrited::before {
    content: "优化后";
    display: block;
    position: absolute;
    background-color: rgb(0, 100, 0);
    padding: 0.2em 0.5em;
    font-size: $font-size-body;
    color: $text-color-header;
    transform: translate(-1.5em, -1em) rotate(-10deg);
    transform-origin: 0% 100% 0px;
    border-radius: 0.3em;
    overflow: visible;
  }

}

.post-body .table-container{
  max-width: 100%;
  overflow-x: auto;
}

.post-body table {
  margin: 2em 0;
  border-top: 2px solid $text-color-body;
  border-bottom: 2px solid $text-color-body;
  width: 100%;
  font-size: $font-size-small;

  thead {
    border-bottom: 1px solid lighten($color: $text-color-body, $amount: 30%);
    background-color: $background-color-thead;
    th {
      padding: 0.3em 0.5em;
    }
  }
  tbody {
    tr{border-bottom: 1px solid lighten($color: $text-color-body, $amount: 30%);}
    td{
      padding: 0.15em 0.5em;
    }
  }
}

figure.highlight{
  @include margin(1.5em null);
}

// 代码块
p.code-language {
  background-color: $background-color-code-header;
  border: 1pt solid $background-color-code-header;
  @include padding(0.5rem 1rem);
  @include border-top-radius(0.25em);
  font-size: $font-size-small;
  letter-spacing: $letter-spacing-default;
}

p.code-language.markdown {text-transform: capitalize;}
p.code-language.html {text-transform: uppercase;}

figure.highlight > pre {
  @include margin(null null);
  @include padding(1rem);
  font-size: $font-size-small;
  background-color: $background-color-code-block;
  border: 1pt solid $background-color-code-header;
  overflow-x: auto;
}

// 参考资料
.ref-text {font-size: $font-size-small;}

.ref-caption{
  font-size: $font-size-small;
  border-top: 1pt solid lighten($color: $text-color-body, $amount: 50%);
  padding-top: 0.5em;
  width: 10em;
  @include margin(4em null 2em);
}

// 脚注
.footnotes{
  font-size: $font-size-small;
  ol{list-style-type: decimal;}
}

//! 右侧栏

.card.ad-aside-right {
  @include margin(4rem null);
  border: 0.5em solid rgba($text-color-emphasized, 0.5);
  border-radius: 0.5em;
  opacity: 0.7;  // 透明度小于 1 的元素会遮挡其他元素。必须为页眉设置 z-index 值。

  &:hover{
    opacity: 1;
    border-color: rgba($text-color-emphasized, 0.7);
  }

}

ul.card-text {
  list-style-type: none;
  li{@include margin(0.5em null);}
}

