//! 文章索引页

.post-link{
  height: 7em;
  @include media-breakpoint-up(md){height: 9em}

  .card-title{
    font-weight: normal;
    line-height: $line-height-sm;
    @include multiline-text-truncate();
    
    @include media-breakpoint-up(md){
      font-weight: $font-weight-bold;
      line-height: $line-height-lg;
      @include text-truncate();
    }
  }

  .card-subtitle{@include multiline-text-truncate();
  }
}

//! 教程索引页

@include media-breakpoint-up(md){
  .tutorial-link{
    height: 150px;
  }
}

.image-box{
  background-image: url(/assets/images/background-image/desert-tan.jpg);
  background-repeat: repeat;
  height: 100%;
}

.link-image {
  display: inline-block;
  max-height: 150px;
  max-width: 100%;
  object-fit: scale-down;
}

//! 产品文档索引页

.card.manual-card {
  margin-bottom: 2em;
  @include border-top-radius(0.5rem);
  @include border-bottom-radius(0);

  .card-header {
    background-color: $background-color-manual-card-header;
    padding: 0.5rem 1.25rem;
    h5 {
      margin: 0;
      color:  darken($color: $background-color-head, $amount: 10%);
    }
  }

  .card-body.btn-row {
    padding: 0.75rem 1.25rem;

    a {
      margin-top: 0;
      font-weight: bold;
    }
  }


  .list-group.tech-doc-tools li {
    padding-left: 3em;
    text-indent: -1.75em;
    &::before {content: "🎀 ";}
  }

}

//! 右侧栏

.card.ad-aside-right {
  @include margin(3rem null);
  border: 0.5em solid rgba($text-color-emphasized, 0.5);
  border-radius: 0.5em;
  opacity: 0.7;  // 透明度小于 1 的元素会遮挡其他元素。必须为页眉设置 z-index 值。

  &:hover{
    opacity: 1;
    border-color: rgba($text-color-emphasized, 0.7);
  }

}

ol#post-toc {
  padding-left: 1em;
  font-size: 0.9rem;
  li{@include margin(0.5em null);}
}

ul.card-text {
  list-style-type: none;
  li{@include margin(0.5em null);}
}

