//! 教程容器

.tutorialContainer{
  position: relative;  // 为了教程页面的绝对定位而设置
  height: 97.5vh;
  overflow-y: hidden;
}

//! 三栏布局

.aside-left{
  position: absolute;
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: hidden;
  z-index: 0;
  
  @include padding(7rem 1em 6rem null);
}

.aside-right{
  position: absolute;
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 0;
  
  @include padding(8rem null 2em);
  display: none;
}

.topic{
  position: absolute;
  width: 75%;
  height: 100%;
  top: 0;
  left: 25%;
  overflow-y: auto;
  z-index: 0;

  @include padding(8rem 2rem);
}



//! 主目录按钮和教程名称

.tocLable{
  position: absolute;
  width: 25%;
  top: 4rem;
  left: 0;
  z-index: 99;
  padding-right: 1em;
  
  h1{
    font-size: $font-size-headingOne;
    color: lighten($color: $text-color-body, $amount: 30%);
    @include padding(null 1rem);
  }
}

.tutorialTOC-label{
  display: block;
  width: 100%;
  background-color: lighten($color: $text-color-body, $amount: 30%);
  @include padding(0.5rem 1rem);
  font-weight: bold;
  color:rgb(255, 255, 255);
  z-index: 99;
}


#tutorialTOCInput{
  position: absolute;
  top: 6rem;
  display: none;

  &:checked ~ .aside-right{
    display: none;
  }
  
  &:checked ~ .aside-left{
    display: block;
  }

}


//! 窗格内文本元素

// 左侧栏

.aside-left{

  h1{
    font-size: $font-size-headingOne;
    @include margin(0.5rem null);
    @include padding(null 1rem);
    background-color: rgb(230, 230, 200);
  }

  ol{
    list-style-type: decimal;
    padding-left: 3rem;

    li{
      @include margin(0.2rem);
    }
  }
}

.tutorialTOC{
  border: 0.05em solid rgb(200, 200, 200);
  max-height: 70vh;
  @include padding(0.5em null 2rem);
  overflow-y: auto;


}


// 正文

.tutorialName{
  h1{
    font-size: $font-size-headingOne;
    color: lighten($color: $text-color-body, $amount: 30%);
    text-align: right;
    border-bottom: 1pt solid rgb(200, 200, 200);
  }
}

.topictitle{
  h1{
    font-size: $font-size-title;
    color: $text-color-title;
    @include margin(4rem null 1rem);
  }
}

#topicContent{

  p{
    @include margin(1em null);
    text-align: justify;
  }

  img:only-child {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
  }

  h1{
    font-size: $font-size-headingOne;
    color: lighten($color: $text-color-emphasized, $amount: 15%);
    letter-spacing: $letter-spacing-base;
    border-bottom: 0.1em dotted lighten($color: $text-color-emphasized, $amount: 15%);
    @include margin(4em null 2em);
    @include padding(null null 0.3em);
  }

  h2{
    font-size: $font-size-headingTwo;
    @include margin(2em null null);
  }

  ol, ul {
    padding-left: 3em;
    @include margin(0.5em null 1em);

    li{
      @include margin(0.5em);
    }
  }


  blockquote{
    font-size: modular-scale(1, $font-size-body, 0.9);
    background-color: rgb(230, 230, 230);
    border-left: 0.4em solid rgb(200, 200, 200);
    @include border-left-radius(0);
    @include border-right-radius(0.5em);
    @include padding(0.25em 1em);
    @include margin(1.25 null);

    * {
      @include margin(1em null);
      color: $text-color-slogan-p;
    }

    h1{
      font-size: $font-size-body;
      &:after{
        color: darken($color: $background-color-slogan, $amount: 50%);
      }
    }

  }



  :target::before{
    content: "";
    display: block;
    height: $height-header;
    margin-top: -$height-header;
  }
  
}

// 代码块

.highlighter-rouge{
  @include margin(1.5em null);
}

pre.highlight{
  @include margin(null null);
  @include padding(0.5em);
  font-size: $font-size-footer;
  color: rgb(230, 230, 200);
  background-color: rgb(55, 55, 55);
  overflow-x: auto;
}

.language-markdown:before{
  content: "Markdown";
  display: inline-block;
  background-color: lighten($color: $text-color-emphasized, $amount: 15%);
  @include padding(0.25em 0.5em);
  @include border-top-radius(0.25em);
  font-weight: bold;
  color: rgb(9,131,33);
}

.language-html:before{
  content: "HTML";
  display: inline-block;
  background-color: lighten($color: $text-color-emphasized, $amount: 15%);
  @include padding(0.25em 0.5em);
  @include border-top-radius(0.25em);
  font-weight: bold;
  color: rgb(9,131,33);
}

div.exmp{
  @include margin(1em null 2em);
}

div.exmp:before{
  content: "输出格式";
  display: inline-block;
  background-color: lighten($color: $text-color-emphasized, $amount: 15%);
  @include padding(0.25em 0.5em);
  @include border-top-radius(0.25em);
  font-weight: bold;
  color: rgb(9,131,33);
}

div.container-exmp{
  @include border-width(0.05em null);
  @include border-color(lighten($color: $text-color-emphasized, $amount: 15%) null);
  @include border-style(solid null);
  @include padding(0.5em null);
}

.language-plaintext{
  color: rgb(0, 0, 255);
}

//! 示例输出-引用

h1.no-style{
  font-size: 2em;
  @include margin(0.67em null);
  color: $text-color-body;
  border: none;
}

h2.no-style{
  font-size: 1.5em;
  @include margin(0.75em null);
  color: $text-color-body;
 }

h3.no-style{
  font-size: 1.17em;
  @include margin(0.83em null)
}

h4.no-style{
  font-size: 1em;
  @include margin(1.12em null);
}

h5.no-style{
  font-size: 0.83em;
  @include margin(1.5em null);
}

h6.no-style{
  font-size: 0.75em;
  @include margin(1.67em null)
}


//! 暂时不显示页脚
.footerContainer, .above-footer,{
  display: none !important; 
}