
//! 主题名称

.topic-header {
  border-bottom: .1em dotted lighten($color: $text-color-title, $amount: 15%);
}

h4.topic-title{
  color: $text-color-title;
  @include media-breakpoint-up(lg){font-size: $font-size-h2;}
}

//! 正文

.topic-body {
  @include margin(null null 3rem);

  & > h1 {
    font-size: $font-size-h5;
    @include media-breakpoint-up(lg){font-size: $font-size-h3;}

    color: $text-color-emphasized;
    border-bottom: .1em dotted lighten($color: $text-color-emphasized, $amount: 15%);
    @include margin(3em null 1.5em);
    @include padding(null null 0.2em);
  }
  
  & > h2 {
    font-size: $font-size-body;
    @include media-breakpoint-up(lg){font-size: $font-size-h4;}
    @include margin(2em null 1em);
  }
  
  & > p {
    @include margin(1em null);
    text-align: justify;
  }

  figure{
    text-align: center;
    img{
      width: 100%;
      max-width: 500px;
    }
    figcaption{
      font-size: $font-size-sm;
      font-weight: $font-weight-bold;
      &::before{content: "图：";}
    }
  }
  
  ul, ol {
    padding-left: 2em;
    @include margin(0.5em null 1em);
    
    li{
      @include margin(0.5em);
    }

    li > ol {
      list-style-type: lower-alpha;
      padding-left: 1em;
    }
  
  }

  & > blockquote{
    font-size: modular-scale(1, $font-size-body, 0.9);
    background-color: rgb(230, 230, 230);
    @include border-left-radius(0.3em);
    @include border-right-radius(0.3em);
    @include padding(0.25em 1em);
    @include margin(2.25em null);
  
    * {
      @include margin(1em null);
    }

    &::before {
      content: "小贴士：";
      display: block;
      font-size: $font-size-body;
      font-weight: bold;
      color: $text-color-emphasized;
      margin-top: 0.5em;
    }

  }

  table {
    width: 100%;

    thead {
      background-color: $background-color-thead;
      tr th {
        @include padding(0.25em 0.5em);
        border: 1pt solid darken($color: $background-color-thead, $amount: 10%)
      }
    }
    
    tbody tr td {
      @include padding(0.25em 0.5em);
      border: 1pt solid $background-color-thead;
    }
  }

  :target::before{
    content: "";
    display: block;
    height: 7rem;
    margin-top: -7rem;
    @include media-breakpoint-up(md){
      height: 8rem;
      margin-top: -8rem;
    }
    @include media-breakpoint-up(lg){
      height: $height-header;
      margin-top: -$height-header;
    }
  }
}

// 代码块

figure.highlight{
  @include margin(1.5em null);
}

p.code-language {
  background-color: $background-color-code-header;
  border: 1pt solid $background-color-code-header;
  @include padding(0.5rem 1rem);
  @include border-top-radius(0.25em);
  font-size: $font-size-small;
  letter-spacing: $letter-spacing-default;
  text-align: left;
}

p.code-language.markdown {text-transform: capitalize;}
p.code-language.html {text-transform: uppercase;}

figure.highlight > pre {
  @include margin(null null);
  @include padding(1rem);
  font-size: $font-size-small;
  background-color: $background-color-code-block;
  border: 1pt solid $background-color-code-header;
  overflow-x: auto;
  text-align: left;
}

div.exmp:before{
  content: "输出格式";
  display: block;
  background-color: $background-color-code-header;
  border: 1pt solid $background-color-code-header;
  @include padding(0.5rem 1rem);
  @include border-top-radius(0.25em);
  font-size: $font-size-small;
}

div.exmp-container{
  @include padding(1rem);
  border: 1pt solid $background-color-code-header;
  font-size: $font-size-small;
}

div.exmp blockquote{
  font-size: modular-scale(1, $font-size-body, 0.9);
  background-color: rgb(230, 230, 230);
  border-left: 0.4em solid rgb(200, 200, 200);
  @include border-left-radius(0);
  @include border-right-radius(0.5em);
  @include padding(0.25em 1em);
  @include margin(1.25 null);

  * {
    @include margin(1em null);
    color: $text-color-slogan-p;
  }

}

// 输出格式中的任务列表
div.exmp ul.contains-task-list {
  list-style-type: none;
  padding-left: 1em;
}

//! 目录

#doc-toc-col {
  z-index: 1000;
  margin-top: 2.5rem;
  @include padding(0.5rem null 0.25rem);
  background-color: $background-color-slogan;

  @include media-breakpoint-up(md){margin-top: 3.5rem;}
  @include media-breakpoint-up(lg){
    background-color: transparent;
    position: static;
    z-index: 0;
  }
}

#doc-toc-items {
  margin-top: 1rem;
  max-height: 70vh;
  overflow-y: auto;
  border-radius: 0.3rem;
  @include media-breakpoint-up(lg){
    margin-top: 3rem;
    max-height: none;
  }

  button.btn{
    font-weight: bold;
    font-size: $font-size-sm;
    &::before{
      content: url(/assets/images/icons/symbols/right-arrow-tutor-nav.svg);
      display: inline-block;
      height: 0.75rem;
      width: 0.75rem;
      transition: transform 0.35s ease;
      transform-origin: 50% 85%;
    }
    &[aria-expanded="true"]::before{
      transform: rotate(90deg);
    }
  }

}

.list-group-item {
  padding-left: 3em;
  a {color: $text-color-body;}

}

.list-group-item.active {
  background-color: lighten($color: $background-color-head, $amount: 10);
  border: none;
  a {
    color: $text-color-header;
    font-weight: bold;
  }
}

.btn.doc-toc-icon {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 100%;
}

button.btn.focus, button.btn:focus{box-shadow: none;}


// 参考资料, 从 post.scss 复制而来

.ref-caption{
  font-size: $font-size-small;
  border-top: 1pt solid $gray-500;
  padding-top: 0.5em;
  width: 10em;
  @include margin(4em null 1em);
}
