//! 配色方案

// 背景颜色
$background-color-page: #fff;
$background-color-head: #6699cc;
$background-color-slogan: #ffffb3;

// 文本颜色
$text-color-body: #454545;
$text-color-header: #fff;
$text-color-emphasized: #f471da;
$text-color-slogan-p: #7b5e37;
$text-color-slogan: #8080ff;
$text-color-title: darken($color: $text-color-emphasized, $amount: 30%);


//! 字体设置

$font-family-body: calibri, Helvetica, sans-serif, "Microsoft YaHei UI", "Microsoft YaHei",;
$font-family-slogan: "Open Sans", Helvetica, sans-serif, "Microsoft YaHei UI", "Microsoft YaHei",;

$font-size-body: 1rem;
$font-size-title: 2rem;
$font-size-title-phone: 1.5rem;
$font-size-headingOne: 1.5rem;
$font-size-headingOne-phone: 1.2rem;
$font-size-headingTwo: 1.2rem;
$font-size-headingOne-phone: 1.2rem;
$font-size-header: 1.2rem;
$font-size-footer: 0.9rem;

$letter-spacing-default: normal;
$letter-spacing-base: 0.1em;
$letter-spacing-cn: modular-scale(2, $letter-spacing-base);
$letter-spacing-expand: modular-scale(3, $letter-spacing-base);
$letter-spacing-extra: 0.3em;

$line-height-header: 3em;
$line-height-footer: 1.4em;
$line-height-base: 1em;
$line-height-default: modular-scale(2, $line-height-base);
$line-height-high: modular-scale(3, $line-height-base);
$line-height-content: 2em;

//! 布局

$height-header: 4em;
$height-slogan-square: 80vw; 