<!-- 推荐相关文章 -->

<div class="card ad-aside-right">
  <div class="card-body">
    <h5 class="card-title">看过的人还喜欢</h5>
    {%- assign categories = page.categories -%}
    {%- assign posts = '' | split: '' -%}
    {%- for category in categories -%}
      {%- assign postsInCategory = site.posts | where: "category", category.name -%}
      {%- assign posts = posts | concat: postsInCategory | uniq -%}
    {%- endfor -%}
    {%- for post in posts limit: 5 -%}
      {%- if post.url != page.url -%}
        <p class="card-text small"><a href="{{ post.url }}">{{ post.title }}</a></p>
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>
