---
layout: page-container
---

<!-- 正文 -->
<div class="col-lg-8 pr-lg-4">
  <div class="mt-lg-5 py-4">
    <h4 class="post-title">{{ page.title }}</h4>
    <p class="small text-muted">作者：{{ page.author }}</p>
    <p class="small text-muted">发布于 {{ page.date | date: ' %Y 年 %m 月 %d 日' }}</p>
  </div>
  <div class="post-body postContent">{{ content }}</div>
</div>

<!-- 侧栏 -->
<div class="col-lg-4 pl-lg-4 aside">
  {%- include asideDivs/postTOC.html -%}
  {% unless page.categories == empty %}
    {%- include asideDivs/relatedPosts.html -%}
  {% endunless %}
  {%- if page.downloadkey -%}
    {%- include asideDivs/download.html -%}
  {%- endif -%}
</div>

{%- if page.mermaid -%}
  {%- include mermaid.html -%}
{%- endif -%}
{%- if page.math -%}
  {%- include mathjax.html -%}
{%- endif -%}