---
layout: page-container
---

<!-- 正文 -->
<div class="post">
  <div class="updatedMeta">
    <h1>{{ page.title }}</h1>
    <p>作者：{{ page.author }}</p>
    <p>发布于 {{ page.date | date: ' %Y 年 %m 月 %d 日' }}</p>
  </div>
  <div class="postContent">{{ content }}</div>
</div>

<!-- 侧栏 -->
<div class="aside">
  <div id="toc">
    <h1>目录</h1>
    {%- include toc.html html=content ordered=true -%}
  </div>
  <div>
    <h1>看过的人还喜欢</h1>
    {%- for post in site.categories.technical-writing limit: 5 -%}
      {%- if post.url != page.url -%}
        <p><a href="{{ post.url }}">{{ post.title }}</a></p>
      {%- endif -%}
    {%- endfor -%}
  </div>
  <div>
    <h1>更多资源</h1>
    <p></p>
    <p>关注微信公众号“单线条文档”，后台发送“ <span lang="en">PDF</span> 指南”，获取文中的技术文档写作指南 <span lang="en">PDF</span> 版。</p>
    <p><img src="/assets/images/mediaIcon/qrcode_wechat.jpg" alt="公众号：单线条文档" class="icon-80px"></p>
  </div>
  <div>
    <h1>技术写作专业服务</h1>
    <p>手机：<span lang="en">186 1111 7992</span> </p>
    <p>微信：<span lang="en">wongyah</span> </p>
    <p>邮箱：<span lang="en">wongyah@126.com</span> </p>
  </div>
</div>

