<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" media="screen and (max-width: 875px)" href="/assets/css/homeMax875.css">
    <link rel="stylesheet" media="screen and (min-width: 875px)" href="/assets/css/homeMin875.css">
  </head>
  <body>
    {%- include header.html -%}
    <div class="content">{{ content }}</div>
    {%- include footer.html -%}
  </body>
</html>